<!DOCTYPE html>
<html lang="es">

<%- include('../../partials/meta') %>

<body>
  <%- include('../../partials/headerAdmin') %>
  
  <main class="container__listas">
    <div class="flex-row align-center">
      <img src="/multimedia/icons/search_icon.svg" alt="icono de busqueda" height="40em">
      <input class="busqueda__input" type="text" placeholder=" Código, nombre o categoría">
    </div>
    
    <div class="flex-row align-center justify-between">  
      <h1 class="uppercase flex-row">Listado de Productos</h1>
      <a href="/admin/productos/create" class="flex-row align-center uppercase">
        <span class="agregar__text">Agregar</span>
        <button class="agregar__btn">+</button>
      </a>
    </div>
    
    <table class="width100">
      <thead>
        <tr class="text-left">
          <th>#ID</th>
          <th>Codigo SKU</th>
          <th>Nombre</th>
          <th>Colección</th>
          <th class="s-table-hidden">Precio</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
      <% productos.forEach(producto => { %>
        <tr class="text-left">
          <td><%= producto.id %></td>
          <td><%= producto.sku %></td>
          <td><%= producto.nombre %></td>
          <td><%= producto.Collection.nombre %></td>
          <td class="s-table-hidden">$ <%= producto.precio %></td>
          <td class="text-end">
            <a href="/admin/productos/<%= producto.id %>/edit">
              <img src="/multimedia/icons/edit_pencil.svg" alt="icono de editar">
            </a> 
            <form style="display: inline-block" action="/admin/productos/<%= producto.id %>?_method=DELETE" method="post" >
              <button type="submit">
                <img src="/multimedia/icons/delete_trash.svg" alt="icono de borrar">
              </button>
            </form>
          </td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  </main>
  
  <%- include('../../partials/footerAdmin') %>
  
  <script>
    document.addEventListener("submit", (event) => {
      if (event.target.classList.contains("form-delete")) {
        event.preventDefault();
        
        if (confirm("¿Está seguro que desea eliminar el producto?")) {
          event.target.submit();
        }
      }
    });
  </script>
</body>

</html>
