<!DOCTYPE html>
<html lang="es">

  <%- include('../../partials/meta') %>

  <body>
    <%- include('../../partials/headerAdmin') %>

    <main class="container__forms">
      <h1 class="uppercase">Editar colección</h1>
      <% if (typeof errors != 'undefined') { %>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>

      <form class="admin__form flex-column" action="/admin/colecciones/<%= values.id %>?_method=PUT" method="post" enctype="multipart/form-data" >
        <div>
          <label for="nombre">Nombre: </label>
          <input class="admin__forms__input" type="text" id="nombre" name="nombre" value="<%= typeof values != 'undefined' ? values.nombre : '' %>" />
        </div>

        <div>
          <label for="descripcion">Descripción: </label>
          <br>
          <textarea class="admin__forms__textarea" type="text" id="descripcion" name="descripcion" cols="30" rows="10"><%= typeof values != 'undefined' ? values.descripcion : '' %></textarea>
        </div>

        <div>
          <label for="imagen">Imagen: </label>
          <input class="admin__forms__files" type="file" id="imagen" name="imagen" accept="image/*" />
          <div>
            <img width="100" src="/uploads/colecciones/coleccion_<%= values.id %>.webp" alt="<%= values.nombre %>" />
          </div>
        </div>

        <button type="submit" class="primary__btn">Guardar</button>
      </form>
    </main>
    
    <%- include('../../partials/footerAdmin') %>
  </body>
</html>
