<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colecciones</title>
    <link rel="icon" href="/multimedia/branding/logoipsum-282.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/css/style.css?num=<%= Date.now() %>" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%- include('../../partials/headerAdmin') %>

    <main class="container__listas"> 
      <div class="flex-row align-center">
        <img src="/multimedia/icons/search_icon.svg" alt="icono de busqueda" height="40em">
        <input class="busqueda__input" type="text" placeholder=" Código, nombre o categoría">
      </div>

      <div class="flex-row align-center justify-between">  
        <h1 class="uppercase">Listado de Colecciones</h1> 
        <a href="/admin/colecciones/create" class="flex-row align-center uppercase"><span class="agregar__text">Agregar</span> <button class="agregar__btn">+</button></a>
      </div>

      <table class="width100">
        <thead>
          <tr class="text-left">
            <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
          <% colecciones.forEach(coleccion => { %>
          <tr class="text-left">
            <td><%= coleccion.id %></td>
            <td><%= coleccion.nombre %></td>
            <td><%= coleccion.descripcion %></td>
            <td class="text-end">
                <a href="/admin/colecciones/<%= coleccion.id %>/edit"><img src="/multimedia/icons/edit_pencil.svg" alt="icono de editar"></a> 
                <form style="display: inline-block" action="/admin/colecciones/<%= coleccion.id %>?_method=DELETE" method="post" >
                  <button type="submit"><img src="/multimedia/icons/delete_trash.svg" alt="icono de borrar"></button>
                </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>

    <%- include('../../partials/footerAdmin') %>

    <script>
      document.addEventListener("submit", (event) => {
        if (event.target.classList.contains("form-delete")) {
          event.preventDefault();
          if (confirm("¿Está seguro que desea eliminar la colección?")) {
            event.target.submit();
          }
        }
      });
    </script>
  </body>
</html>
