<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="icon" href="/multimedia/branding/logoipsum-282.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/css/style.css?num=<%= Date.now() %>" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%- include('../partials/header') %>

    <main class="container__forms">
      <h1 class="uppercase text-center">Crea tu cuenta</h1>
      <h2 class="text-center low-weight">Completa el formulario para ser parte del mundo de los Funkos.</h2>

      <% if (typeof errors != 'undefined') { %>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>

      <form class="table__form" action="/register" method="post">
        <div class="table__form__row">
          <label for="nombre">Nombre: </label>
          <input class="admin__forms__input" type="nombre" id="nombre" name="nombre" value="<%= typeof values != 'undefined' ? values.nombre : '' %>" />
        </div>

        <div class="table__form__row">
          <label for="apellido">Apellido: </label>
          <input class="admin__forms__input" type="apellido" id="apellido" name="apellido" value="<%= typeof values != 'undefined' ? values.apellido : '' %>" />
        </div>

        <div class="table__form__row">
          <label for="email">Correo: </label>
          <input class="admin__forms__input" type="email" id="email" name="email" value="<%= typeof values != 'undefined' ? values.email : '' %>" />
        </div>

        <div class="table__form__row">
          <label for="password">Contraseña: </label>
          <input class="admin__forms__input" type="password" id="password" name="password" />
        </div>

        <div class="table__form__row">
          <label for="password_confirmation">Confirmar contraseña: </label>
          <input class="admin__forms__input" type="password" id="password_confirmation" name="password_confirmation" />
        </div>

        <div class="flex-row justify-between align-baseline">
          <button type="submit" class="primary__btn">Registrarme</button>
          <div class="auth__checkbox">
            <input type="checkbox" id="" name="" value=""><label for=""> Acepto los <a href="">términos y condiciones</a>.</label>
          </div>
        </div>
      </form>
    </main>
    
    <%- include('../partials/footer') %>
  </body>
</html>
